
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.hero{
  font-family: "Roboto", sans-serif;


  background-image: url("assets/fundos/Background_Intro.png");
  min-height: 100vh;  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2rem;
  box-sizing: border-box;
}

header {
  text-align: center;
  color: white;
}

.skills {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;

  list-style: none;
  padding: 0;
  margin-top: 80px;
}

.skills li {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 8px 14px;
  border-radius: 999px;
  background: #292C34;
  border: 1px solid #333;

  font-size: 14px;
  color: white;
}

.skill li img {
  width: 18px;
  height: 18px;
}

h4, h1 {
  padding: 2px;
}

strong {
  color: #E3646E;
}